@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#3498db;
   --dark-blue:#2980b9;
   --red:#e74c3c;
   --dark-red:#c0392b;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}
/* Tost notification */
.toast-container {
   position: fixed;
   top: 30px;
   right: 30px;
   z-index: 999;
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 .toast {
   max-width: 350px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 5px;
   padding: 10px;
   padding-right: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   opacity: 0;
   transition: opacity 0.5s, transform 0.5s;
   transform: translateY(-20px);
 }
 .toast.show {
   opacity: 1;
   transform: translateY(0);
 }
 .toast .close {
   position: absolute;
   top: 5px;
   right: 5px;
   color: #4eedff;
   cursor: pointer;
 }
 .progress {
   width: 100%;
   height: 4px;
   background-color: #333;
   overflow: hidden;
   position: relative;
   margin-top: 10px;
 }
 .progress .bar {
   height: 100%;
   width: 0;
   background-color: #4eedff;
   position: absolute;
   left: 0;
   top: 0;
   transition: width 7s linear;
 }
 .bar.show {
   width: 100%;
 }
.form-container{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}


.form-container form{
    padding:20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 500px;
    border-radius: 5px;
 }
 
.form-container form h3{
    margin-bottom: 10px;
    font-size: 30px;
    color:var(--black);
    text-transform: uppercase;
 }
 
.form-container form .box{
    width: 100%;
    border-radius: 5px;
    padding:12px 14px;
    font-size: 18px;
    color:var(--black);
    margin:10px 0;
    background-color: var(--light-bg);
 }
 
.form-container form p{
    margin-top: 15px;
    font-size: 20px;
    color:var(--black);
}
.form-container form p a{
    color:var(--red);
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }


.btn,
.delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

.btn{
   background-color: var(--blue);
}

.btn:hover{
   background-color: var(--dark-blue);
}

.delete-btn{
   background-color: var(--red);
}

.delete-btn:hover{
   background-color: var(--dark-red);
}
span{
   display: flex;
   padding-left: 10px;
}
